.box {
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
}

.box1 {
    background-color: red;
    position: relative;
    left: 100px;
    top: 80px;
    /* quando usamos o position: relativa, as seguintes propriedades ficam disponíveis: top, rigth, bottom, left, z-index */
}

.box2 {
    background-color: green;
}

.box3 {
    background-color: blue;
}