* {
  margin: 0;
}

div,
section {
  width: 100px;
  height: 100px;
  margin: 20% auto;

  border: 20px red solid; /* O valor do border é somado a altura e a largura. Para retirar esse comportamento, precisamos do box-sizing: border-box*/
  border-top: groove green 4px;
  border-bottom: none;

  outline: yellow 4px solid;
}
