<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('head') %>
<body class="container">
    <%- include('header') %>
    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Olá! Sou Wellington Nogueira, aluno de programação front-end. Atualmente estudando na escola Rocketseat.</p>
        </div>
    </main>
    <%- include('footer') %>
</body>
</html>