/*
    #Flexbox

    *Nos permite posicionar os elementos dentro da caixa
    * Controle em uma dimensão (horizontal ou vertical)
    * Alinhamento, direcionamento, ordenar e tamanhos

    div.parant {
        display: flex;
    }

    ## flex-direction
    * Qual a direção do flex: horizontal ou vertical
    * row | column

    ## Alinhamento
    * justfy-content
    * align-items
*/

body {
    height: 50vh; /* ocupa toda a view port vh - view port heigth (altura)*/
    margin: 0;
    display: flex;

    align-items: center;
}
.container {
    width: 100vw; /* ocupa toda a view port vw - view port width (largura)*/
    display: flex;

    justify-content: center;

}

.box {
    width: 50px;
    height: 50px;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: green;
}

.box3 {
    background-color: blue;
}