.box {
  display: flex;

  border: 1px solid red;
}
.box div {
  border: 1px solid;
}

.box div:nth-child(1) {
  order: 1; /* colocando o order 1, vai pro final da lista*/
}

.box div:nth-child(2) {
  order: 0;
}

.box div:nth-child(3) {
  order: 0;
}

.box div:nth-child(4) {
  order: -1; /* colocando o order negativo, vai pro inicio da fila*/
}
