.box {
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
}

.box1 {
    background-color: red;
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 4; /* Propriedade que permite trabalhar com o eixo Z (Diagonal) do elemento */
    /* quando usamos o position: relativa, as seguintes propriedades ficam disponíveis: top, rigth, bottom, left, z-index */
    /* o position: absolute faz com que uma nova camada seja criada para o elemento. Fica absoluto em relação a página ou ao elemento pai */
    /* O position: fixed também cria uma nova camada e deixa o elemento fixo na página */
}

.box2 {
    background-color: green;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2;
}

.box3 {
    background-color: blue;
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 10;
}